<!-- About Section -->
<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 wow fadeIn">
                <h1>WHAT WE DO</h1>
                <p>Take a look at our services.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-envelope-o fa-4x"></i>
                    <h3>Email hosting</h3>
                    <p>If you are running a small/medium sized business, without centralized email, then you know how much of a headache this is.
                    At Amazutech we offer..</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-server fa-4x"></i>
                    <h3>Web hosting</h3>
                    <p>Many solutions these days can be very confusing. You have a website, we have a home for it, without confusing terminologies and hidden..</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <div class="about-content">
                    <i class="fa fa-wordpress fa-4x"></i>
                    <h3>Web Development</h3>
                    <p>We build websites to get your business online. We work with technologies like Wordpress and Ruby on Rails...</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                <div class="about-content">
                    <i class="fa fa-signal fa-4x"></i>
                    <h3>Wireless Networks</h3>
                    <p>Sometimes businesses prefer to have a wireless solution but cannot afford what is available in the market.
                      Speak to our team for a powerfull...</p>
                </div>
            </div>
        </div>
    </div>
</section>
