<!-- Portfolio Carousel Heading -->
<section id="work" class="bg-gray">
    <div class="container text-center wow fadeIn">
        <h2>Our Work</h2>
        <hr class="colored">
        <p>Here are some examples of our work.</p>
    </div>
</section>

<!-- Portfolio Carousel -->
<section class="portfolio-carousel wow fadeIn">
    <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
    <!-- Carousel Item 1 -->
    <div class="item" style="background-image: url('img/agency/portfolio/carousel/bg-1.jpg')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal1" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                                <div class="screen">
                                    <img src="img/agency/portfolio/carousel/screen-1a.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel Item 2 -->
    <div class="item" style="background-image: url('img/agency/portfolio/carousel/bg-2.jpg')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                                <div class="screen">
                                    <img src="img/agency/portfolio/carousel/screen-2a.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel Item 3 -->
    <div class="item" style="background-image: url('img/agency/portfolio/carousel/bg-3.jpg')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal3" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                                <div class="screen">
                                    <img src="img/agency/portfolio/carousel/screen-3a.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel Item 4 -->
    <div class="item" style="background-image: url('img/agency/portfolio/carousel/bg-4.jpg')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="project-details">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal4" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 hidden-xs">
                    <div class="device-container">
                        <div class="device-mockup macbook portrait black">
                            <div class="device">
                                <div class="screen">
                                    <img src="img/agency/portfolio/carousel/screen-4.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section>
    <div class="container text-center wow fadeIn">
        <h2>Portfolio</h2>
        <hr class="colored">
        <p>Here are some other projects that we've worked on.</p>
        <div class="row content-row">
            <div class="col-lg-12">
                <div class="portfolio-filter">
                    <ul id="filters" class="clearfix">
                        <li>
                            <span class="filter active" data-filter="all">All</span>
                        </li>
                        <li>
                            <span class="filter" data-filter=".identity">Identity</span>
                        </li>
                        <li>
                            <span class="filter" data-filter=".graphic">Graphic</span>
                        </li>
                        <li>
                            <span class="filter" data-filter=".web">Web</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="portfoliolist">
                    <!-- NOTE: You can add more items to the grid, or remove items you don't need! -->
                    <!-- Grid Item 1 -->
                    <div class="mix identity" href="img/agency/portfolio/grid/grid-1.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-1.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Brand Identity</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 2 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-2.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-2.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Web Development</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 3 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-3.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-3.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Web Development</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 4 -->
                    <div class="mix identity" href="img/agency/portfolio/grid/grid-4.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-4.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Brand Identity</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 5 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-5.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-5.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Web Development</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 6 -->
                    <div class="mix graphic" href="img/agency/portfolio/grid/grid-6.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-6.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Graphic Design</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 7 -->
                    <div class="mix graphic" href="img/agency/portfolio/grid/grid-7.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-7.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Graphic Design</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 8 -->
                    <div class="mix web" href="img/agency/portfolio/grid/grid-8.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-8.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Web Development</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Item 9 -->
                    <div class="mix identity" href="img/agency/portfolio/grid/grid-9.jpg" title="Client Name">
                        <div class="portfolio-wrapper">
                            <img src="img/agency/portfolio/grid/grid-9.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Client Name</a>
                                    <span class="text-category">Brand Identity</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
