<!-- Pricing Section -->
<section id="pricing" class="pricing" style="background-image: url('/assets/backgrounds/bg-pricing.jpg')">
    <div class="container wow fadeIn">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.</p>
            </div>
        </div>
        <div class="row content-row">
            <!-- Pricing Table 1 -->
            <div class="col-md-4">
                <div class="pricing-item featured-first">
                    <h3>Basic</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>25</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">60 Users</li>
                        <li class="list-group-item">Unlimited Forums</li>
                        <li class="list-group-item">Unlimited Reports</li>
                        <li class="list-group-item">3,000 Entries per Month</li>
                        <li class="list-group-item">200 MB Storage</li>
                        <li class="list-group-item">Unlimited Support</li>
                    </ul>
                    <%= link_to "Sign Up", "#", class: "btn btn-outline-dark" %>
                </div>
            </div>
            <!-- Pricing Table 2 -->
            <div class="col-md-4">
                <div class="pricing-item featured">
                    <h3>Plus</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>50</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>60</strong> Users</li>
                        <li class="list-group-item">Unlimited Forums</li>
                        <li class="list-group-item">Unlimited Reports</li>
                        <li class="list-group-item"><strong>3,000</strong> Entries per Month</li>
                        <li class="list-group-item"><strong>200 MB</strong> Storage</li>
                        <li class="list-group-item">Unlimited Support</li>
                    </ul>
                    <%= link_to "Sign Up", "#", class: "btn btn-outline-dark" %>
                </div>
            </div>
            <!-- Pricing Table 3 -->
            <div class="col-md-4">
                <div class="pricing-item featured-last">
                    <h3>Premium</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>150</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">60 Users</li>
                        <li class="list-group-item">Unlimited Forums</li>
                        <li class="list-group-item">Unlimited Reports</li>
                        <li class="list-group-item">3,000 Entries per Month</li>
                        <li class="list-group-item">200 MB Storage</li>
                        <li class="list-group-item">Unlimited Support</li>
                    </ul>
                    <%= link_to "Sign Up", "#", class: "btn btn-outline-dark" %>
                </div>
            </div>
        </div>
    </div>
</section>
