<!-- Team Section -->
<section class="bg-gray">
    <div class="container text-center wow fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Team</h2>
                <p>We are a group of digital marketers with a passion for great art that serves a practical purpose.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-12">
                <div class="about-carousel">
                    <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
                    <!-- Team Member 1 -->
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="img/agency/team/1.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Patricia West</h3>
                            <hr class="colored">
                            <p>Marketing Director</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Member 2 -->
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="img/agency/team/2.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Howard Scott</h3>
                            <hr class="colored">
                            <p>Sales Manager</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Member 3 -->
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="img/agency/team/3.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Kate Williams</h3>
                            <hr class="colored">
                            <p>Creative Director</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Member 4 -->
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="img/agency/team/4.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Jeremy Davidson</h3>
                            <hr class="colored">
                            <p>Web Developer</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-github fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Member 5 -->
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="img/agency/team/5.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Amy Vanderbute</h3>
                            <hr class="colored">
                            <p>Graphic Artist</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
