<h1>Dear Admin,</h1>
<p>You have received an enquiry from <%= @contact.name if @contact.name? %> <%= @contact.email %>.</p>
<p>The details are as below:</p>
<div>
  <p>Subject: <%= @contact.subject %></p>
  <p>Message: <br>
    <%= simple_format @contact.message %>
  </p>
</div>

<p>
  Kind Regards,
</p>
